pratik/WebContent/wsdl/OrderLevelTraversalTree.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bls.binarytree.tree.ds.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bls.binarytree.tree.ds.com" xmlns:intf="http://bls.binarytree.tree.ds.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bls.binarytree.tree.ds.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="levelOrderTraversal">
    <complexType>
     <sequence>
      <element name="root" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="levelOrderTraversalResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="levelOrderTraversalRequest">

      <wsdl:part element="impl:levelOrderTraversal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="levelOrderTraversalResponse">

      <wsdl:part element="impl:levelOrderTraversalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrderLevelTraversalTree">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="levelOrderTraversal">

         <wsdl:input message="impl:levelOrderTraversalRequest" name="levelOrderTraversalRequest">

       </wsdl:input>

         <wsdl:output message="impl:levelOrderTraversalResponse" name="levelOrderTraversalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderLevelTraversalTreeSoapBinding" type="impl:OrderLevelTraversalTree">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="levelOrderTraversal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="levelOrderTraversalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="levelOrderTraversalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderLevelTraversalTreeService">

      <wsdl:port binding="impl:OrderLevelTraversalTreeSoapBinding" name="OrderLevelTraversalTree">

         <wsdlsoap:address location="http://tempuri.org/pratik/services/OrderLevelTraversalTree"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
